<ruby>
self.run_single("setg SMBDomain achosp.org")
self.run_single("setg SMBUser TRAINZZME")
self.run_single("setg SMBPass hospital")

self.run_single("unset FILE_RPATHS")

require 'csv'
file='/client/shares.csv'
CSV.read(file).each do |line|
  self.run_single("use auxiliary/admin/smb/upload_file")
  self.run_single("set RPATH ecfirst.txt")
  self.run_single("set LPATH /client/ecfirst.txt")
  self.run_single("set RHOSTS #{line[0]}")
  self.run_single("set SMBSHARE #{line[1]}")
  self.run_single("run")
  self.run_single("use auxiliary/admin/smb/delete_file")
  self.run_single("set RPATH ecfirst.txt")
  self.run_single("set RHOSTS #{line[0]}")
  self.run_single("set SMBSHARE #{line[1]}")
  self.run_single("run")
end
</ruby>
