use auxiliary/scanner/oracle/oracle_login
set bruteforce_speed 4
set blank_passwords true
set threads 8

<ruby>
framework.db.notes.each do |note|
  if note.ntype == "oracle.sid"
    sid = note.data
    host = note.host.address
    port = note.service.port
    self.run_single("set SID #{sid}")
    self.run_single("set RHOSTS #{host}")
    self.run_single("set RPORTS #{port}")
    self.run_single("run")
  end
end
</ruby>
